@font-face {
    font-family: 'Pretendo';
    src: 'assets/logo_font.ttf';
}

/**
body * {
    outline: black solid 2px
}
**/

body {
    background-image: url('assets/tiling_background_opacity50.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 512px;
    background-color: rgba(255, 255, 255, 0.5);
}

button {
    padding: 0 16px;
    background: none;
    border: none;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.nintendo-font * {
    font-family: 'Pretendo';
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 14px;
    color: white;
}

#header {
    background-color: #7BD8B1;
    padding: 32px 16px 32px 16px;
    border-radius: 0px 0px 25px 25px;
}

#header button {
    border-radius: 20px;
    padding: 16px;
    margin: 0px 3px;
}

#header button:hover {
    background-color: #AEF1D4;
}

#header .current {
    background-color: #AEF1D4;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

#logo * {
    padding: 0 16px;
}

#header-extend {
    background-color: #7BD8B1;
    border-radius: 0px 0px 25px 25px;
    padding: 32px 16px 32px 16px;
    height: 550px;
    margin-top: -50px;
    position: absolute;
    width: 100%;
    z-index: -5;
}

#video-player {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

#video-player video {
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

#tom-nook {
    position: absolute;
    right: 0%;
    margin-top: -250px;
    z-index: 5;
    transform: scaleX(-1);
}

#footer {
    background-color: #AEF1D4;
    padding: 16px;
    border-radius: 25px 25px 0px 0px;
}